.login__container{
    width: 100%;
    height: 65%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
}

.loginImg__Container img{
    width: 78%;
}


.login__form{
    width: 50%;
    border: 2px solid white;
    padding: 15px;
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(186,188,191,1) 100%, rgba(148,187,233,1) 100%, rgba(148,187,233,1) 100%);    border-radius: 10px;

}