<!-- <div class="header">

    <div class="header_container">
        <div class="logo_container">
            <img class="logo_img" src="https://img.freepik.com/free-vector/gradient-printing-house-logo-template_23-2149763504.jpg?w=740&t=st=1687152910~exp=1687153510~hmac=045354ced59e2194566a773a3f5932c427c8438e4b1505cef8cfa924dec16d31" alt="logo">
        </div>

        <div class="rightSide">
           
            <div class="menu_bar">
                <div class="menu_icon">
                    <img src="../../../assets/images/menu.png" class="menu__img" alt="menu">
                </div>
              </div>
            
           
            <div class="navLinks">
                <div class="container">
                    <a routerLink="/">HEALTH | </a>
                    <a href="#">COURT | </a>
                    <a href="#">INSTITUTIONAL | </a>
                    <a href="#">LIBRARY | </a>
                    <a routerLink="/login">LOGIN / REGISTER</a>
                </div>

                
                  
                  
            </div>
              
        </div>
    </div>
  
    
</div> -->



<div class="header">


    <!-- <a href="#default" class="logo">CompanyLogo</a> -->
    <img class="logo_img" src="https://img.freepik.com/free-vector/gradient-printing-house-logo-template_23-2149763504.jpg?w=740&t=st=1687152910~exp=1687153510~hmac=045354ced59e2194566a773a3f5932c427c8438e4b1505cef8cfa924dec16d31" alt="logo">



    <div class="header-right">
        <a routerLink="/">HEALTH</a>
        <a href="#">COURT  </a>
        <a href="#">INSTITUTIONAL  </a>
        <a href="#">LIBRARY  </a>
        <a routerLink="/login">LOGIN / REGISTER</a>
    </div>
  </div>


<router-outlet></router-outlet>

<app-footer></app-footer>